<div class="background" style="background-color: #191919;">
  <center>
    <div class="header elonia">
      <div class="container">
        <div class="freedonia-header">
          <div class="left">
            <b>ELONIA</b> | IDENTITY PROVIDER
          </div>
          <div class="right">
            About | Contact | Help
          </div>
          <div style="clear: left;"></div>
        </div>
      </div>
    </div>
    <div style="background-color: #eaeaea; border-top: 1px solid #ccc;">
      <div class="container">
        <div style="font-size: 32px; padding: 16px 0px;">
          Confirm your personal details
        </div>
      </div>
    </div>
    <div style="background-color: #eaeaea; border-top: 1px solid #ccc;">
      <div class="container">
        <div style="border-left: 17px solid #f21251; padding: 32px 16px; font-size:26px;">
          Your personal details
        </div>
      </div>
    </div>
    <div style="background-color: #ffffff;">
      <div class="container">
        <div class="main">
          <div style="border-left: 1px solid #f21251; margin-left:8px; padding: 16px;">
            <div data-location="identityForm"></div>
            <div data-location="nextButton" style="text-align: center;"></div>
          </div>

        </div>
      </div>
    </div>
  </center>
</div>