<div style="font-size: 26px; text-align: center; font-weight: 600; margin-bottom: 16px;">Which data will be requested</div>
<div>
  This will be some kind of legal text, please provide.<br>
  <br>
  By agreeing to proceed the system will retrieve your personal information and Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
</div>

<div style="width:50%; float: left;">
  <div class="attributesTable">
    <div class="title">Company details</div>
    <div class="even">FreedoniaCompanyName</div>
    <div class="odd">FreedoniaCompanyType</div>
    <div class="even">FreedoniaCompanyNaceCode</div>
    <div class="odd">FreedoniaBusinessCode</div>
    <div class="even">FreedoniaSSNumber</div>
    <div class="odd">FreedoniaVATNumber</div>
    <div class="even">FreedoniaRegistrationAuthority</div>
    <div class="odd">FreedoniaRegistrationNumber</div>
    <div class="even">FreedoniaRegistrationDate</div>
    <div class="odd">FreedoniaLegalStatus</div>
    <div class="even">FreedoniaLegalStatusExpirationDate</div>
    <div class="odd">FreedoniaActivityDeclaration</div>
    <div class="even">FreedoniaActivityDeclaration</div>
  </div>
</div>
<div style="width:50%; float: left;">
  <div class="attributesTable">
    <div class="title">Company contact information</div>
    <div class="even">FreedoniaAddress</div>
  </div>
</div>
<div style="clear: both;"></div>


