<div style="font-size: 26px; text-align: center; font-weight: 600; margin-bottom: 16px;">Choose data provider(s) to query</div>

<div style="width:50%; float: left;">
    <div class="attributesTable">
        <div class="title">Data ProviderName</div>
        <div class="even">Sample Data Provider A</div>
        <div class="odd">Sample Data Provider B</div>
    </div>
</div>
<div style="width:50%; float: left;">
    <div class="attributesTable">
        <div class="title">Information</div>
        <div class="even">Extra info A</div>
        <div class="odd">Extra info B</div>
    </div>
</div>
<div style="clear: both;"></div>


