<div style="background-color: #eaeaea; border-top: 1px solid #ccc;">
  <div class="container">
    <div style="border-left: 17px solid #f21251; padding: 32px 16px; font-size:26px;">
      <div data-location="title"></div>
    </div>
  </div>
</div>
<div style="background-color: #ffffff;">
  <div class="container">
    <div class="main">
      <div style="border-left: 1px solid #f21251; margin-left:8px; padding: 16px;">
        <div data-location="form"></div>
      </div>
    </div>
  </div>
</div>