<div class="background elonia">
  <center>
    <div class="header elonia">
      <div class="container">
        <div class="freedonia-header">
          <div class="left">
            <b>ELONIA</b> | IDENTITY PROVIDER
          </div>
          <div class="right">
            About | Contact | Help
          </div>
          <div style="clear: left;"></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="main">

        <div style="float: left; width: 33.3%; background-color: #383838; color: white;">
          <div style="padding: 16px;">
            <div style="text-align: center; padding: 16px;">
              <img src="../img/info.png">
            </div>
            <div style="text-align: center;">
              <b>Freedonia online</b> requests the following information:
              <br>
              <b>YOUR BASIC INFORMATION</b>
              <br>
              Personal ID<br>
              First name<br>
              Last name<br>
              Date of birth<br>
              <br>
              * Please note that if you do not provide further information the process will be cancelled.
            </div>
          </div>
        </div>

        <div style="float: left; width: 66.7%;">
          <div style="font-size: 32px; padding: 16px; text-align: left;">
            Login
          </div>
          <div data-location="usernameField"></div>
          <div data-location="passwordField"></div>

          <div data-location="nextButton"></div>
        </div>

        <div style="clear: left;"></div>

      </div>
    </div>
  </center>
</div>