<div class="background" style="background-color: #191919;">
  <center>
    <div class="header">
      <div class="container">
        <div class="freedonia-header">
          <div class="left icon">
            <img src="../img/freedonia-flag-s.png">
          </div>
          <div class="left title">
            <b>FREEDONIA</b> | ONLINE
          </div>
          <div class="right">
            About | Contact | Help
          </div>
          <div style="clear: left;"></div>
        </div>
      </div>
    </div>

    <div style="background-color: #eaeaea; border-top: 1px solid #ccc;">
      <div class="container">
        <div style="font-size: 32px; padding: 16px 0px;">
          Register with WEEE
        </div>
      </div>
    </div>
    <div style="background-color: #eaeaea; border-top: 1px solid #ccc;">
      <div class="container">
        <div style="border-left: 17px solid #f21251; padding: 32px 16px; font-size:26px;">
          Your personal details
        </div>
      </div>
    </div>
    <div style="background-color: #ffffff;">
      <div class="container">
        <div class="main">
          <div style="border-left: 1px solid #f21251; margin-left:8px; padding: 16px;">
            <div data-location="identityForm"></div>
            <div>If you are the authorized representative of a company registered in an EU country, then press the "Get company info" button to automatically fill in the following form.</div>
            <div data-location="toopButton"></div>
          </div>
        </div>
      </div>
    </div>

    <div style="background-color: #eaeaea; border-top: 1px solid #ccc;">
      <div class="container">
        <div style="border-left: 17px solid #f21251; padding: 32px 16px; font-size:26px;">
          Company details
        </div>
      </div>
    </div>
    <div style="background-color: #ffffff;">
      <div class="container">
        <div class="main">
          <div style="border-left: 1px solid #f21251; margin-left:8px; padding: 16px;">
            <div data-location="mainCompanyForm"></div>
            <div data-location="nextButton"></div>
          </div>

        </div>
      </div>
    </div>

  </center>
</div>