<div class="background freedonia">
  <center>
    <div class="header">
      <div class="container">
        <div class="freedonia-header">
          <div class="left">
            Freedonia Online
          </div>
          <div class="right">
            About | Contact | Help
          </div>
          <div style="clear: left;"></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="main" style="background-color: #30336b;">

        <div style="float: left; width: 33.3%; background-color: #30336b; color: white;">
          <div style="padding: 16px;">
            <div style="text-align: left; font-size: 26px; font-weight: 500;">
              Further actions
            </div>
          </div>
        </div>

        <div style="float: left; width: 66.7%; text-align: left; background-color: #ffffff;">
          <div style="font-size: 32px; padding: 16px;">
            Success!!!
          </div>
          <div style="padding: 16px;">
            You have successfully registered the company Zizi mat in Freedonias WEEE register.<br>
            <br>
            A confirmation mail will be sent to the email you have provided.<br>
            <br>
            If you have any enquiries or need any further information you can contact us in this email address: <a href="#">registrations@freedonia.free</a><br>
          </div>
          <div data-location="nextButton"></div>
        </div>

        <div style="clear: left;"></div>

      </div>
    </div>
  </center>
</div>
