<div class="background freedonia">
  <center>
    <div class="header">
      <div class="container">
        <div class="freedonia-header">
          <div class="left icon">
            <img src="../img/freedonia-flag-s.png">
          </div>
          <div class="left title">
            <b>FREEDONIA</b> | ONLINE
          </div>
          <div class="right">
            About | Contact | Help
          </div>
          <div style="clear: left;"></div>
        </div>
      </div>
    </div>

    <div class="banner">
      <div class="container">
        <div class="freedonia-banner">
          <div class="left">
            <img src="../img/freedonia-flag-l.png">
          </div>
          <div class="right">
            <div class="topText">WELCOME TO</div>
            <div class="bottomText">FREEDONIA ONLINE</div>
          </div>
          <div class="eugo">
            <img src="../img/eugo.png">
          </div>
          <div style="clear: left;"></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="main">

        <div class="breadcrumbs">Home | Business services | Trade licenses and registrations</div>

        <div class="freedonia-main" style="background-color: #ebebeb; padding: 0px;">

          <div style="float: left; width: 25%; text-align: center;">
            <div style="padding: 6px; text-align: left; font-size: 13px;">
              <div style="padding: 4px; border-bottom: 1px solid black;">Starting a business</div>
              <div style="padding: 4px; border-bottom: 1px solid black;"><b>Running a business</b></div>
              <div style="padding-left: 10px;">
                <div style="padding: 4px;">Taxation and finances</div>
                <div style="padding: 4px;">Staff your business</div>
                <div style="padding: 4px;">Service notifications</div>
                <div style="padding: 4px;">Professional qualifications</div>
                <div style="padding: 4px; color: #2563b2;"><b>Trade licenses and registrations</b></div>
              </div>
              <div style="padding: 4px; border-bottom: 1px solid black;">Closing a business</div>
            </div>
          </div>
          <div style="float: left; width: 75%; text-align: center; background-color: #ffffff;">

            <div style="padding: 32px; font-weight: 600; font-size: 24px;">
              <div style="text-align: center;">
                <span>TRADE LICENSES AND REGISTRATIONS</span>
              </div>
            </div>

            <div style="float: left; width: 50%; text-align: center;">
              <div style="padding: 4px;">
                <div style="padding: 16px; margin-top: 20px;">
                  <div style="font-size:22px; font-weight: 500; border-bottom: 1px solid white; padding-bottom: 10px;">
                    Trade licenses
                  </div>
                  <div style="padding-top: 10px; text-align:left;">
                    <ul>
                      <li><div data-location="nextButton"></div></li>
                      <li>Construction company licenses</li>
                      <li>Activity licenses for health services</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div style="float: left; width: 50%; text-align: center;">
              <div style="padding: 4px;">
                <div style="padding: 16px; margin-top: 20px;">
                  <div style="font-size:22px; font-weight: 500; border-bottom: 1px solid white; padding-bottom: 10px;">
                    Registrations
                  </div>
                  <div style="padding-top: 10px; text-align:left;">
                    <ul>
                      <li>Waste Electrical and Electronic Equipment - WEEE Register</li>
                      <li>Register of Buildings</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div style="clear: left;"></div>
          </div>
          <div style="clear: left;"></div>
        </div>

      </div>
    </div>
  </center>
</div>
